<a href="https://colab.research.google.com/github/Jefferson-Luis/Data-Science-com-Python/blob/main/Modulo_5_Modelagem_Classifica%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science com Python: Módulo 5 Modelagem e Avaliação dos Resultados 
* Os modelos de machine learning, nas suas três categorias principais: regressão, classificação e clusterização.

Import dos pacotes

In [1]:
# Manipulação de dados

import pandas as pd

# Visualização de dados
import seaborn as sns
import matplotlib.pyplot as plt

# Quebra dos dados de train / test
from sklearn.model_selection import train_test_split

# Feature selection
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler

# Modelos de classificação 
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

# Vaidação cruzada
from sklearn.model_selection import cross_val_score

# Metricas
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import make_scorer

# Tuning de hiperparâmetros
from sklearn.model_selection import GridSearchCV

In [2]:
# adicionar algumas configurações de visualizações

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [3]:
metadados = pd.read_excel('metadata.xlsx')

Bases em: Kaggle

In [4]:
metadados

,Feature,Feature_Type,Description
0,age,numeric,age of a person
1,job,"Categorical,nominal","type of job ('admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')"
2,marital,"categorical,nominal","marital status ('divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)"
3,education,"categorical,nominal","('basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')"
4,default,"categorical,nominal","has credit in default? ('no','yes','unknown')"
5,housing,"categorical,nominal","has housing loan? ('no','yes','unknown')"
6,loan,"categorical,nominal","has personal loan? ('no','yes','unknown')"
7,contact,"categorical,nominal","contact communication type ('cellular','telephone')"
8,month,"categorical,ordinal","last contact month of year ('jan', 'feb', 'mar', …, 'nov', 'dec')"
9,dayofweek,"categorical,ordinal","last contact day of the week ('mon','tue','wed','thu','fri')"
10,duration,numeric,"last contact duration, in seconds . Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no')"
11,campaign,numeric,number of contacts performed during this campaign and for this client (includes last contact)
12,pdays,numeric,number of days that passed by after the client was last contacted from a previous campaign (999 means client was not previously contacted)
13,previous,numeric,number of contacts performed before this campaign and for this client
14,poutcome,"categorical,nominal","outcome of the previous marketing campaign ('failure','nonexistent','success')"
15,y,binary,"has the client subscribed a term deposit? ('yes','no')"

In [8]:
df = pd.read_csv('new_train.csv', sep=',')

In [9]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,49,blue-collar,married,basic.9y,unknown,no,no,cellular,nov,wed,227,4,999,0,nonexistent,no
1,37,entrepreneur,married,university.degree,no,no,no,telephone,nov,wed,202,2,999,1,failure,no
2,78,retired,married,basic.4y,no,no,no,cellular,jul,mon,1148,1,999,0,nonexistent,yes
3,36,admin.,married,university.degree,no,yes,no,telephone,may,mon,120,2,999,0,nonexistent,no
4,59,retired,divorced,university.degree,no,no,no,cellular,jun,tue,368,2,999,0,nonexistent,no

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32950 entries, 0 to 32949
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          32950 non-null  int64
 1   job          32950 non-null  object
 2   marital      32950 non-null  object
 3   education    32950 non-null  object
 4   default      32950 non-null  object
 5   housing      32950 non-null  object
 6   loan         32950 non-null  object
 7   contact      32950 non-null  object
 8   month        32950 non-null  object
 9   day_of_week  32950 non-null  object
 10  duration     32950 non-null  int64
 11  campaign     32950 non-null  int64
 12  pdays        32950 non-null  int64
 13  previous     32950 non-null  int64
 14  poutcome     32950 non-null  object
 15  y            32950 non-null  object
dtypes: int64(5), object(11)
memory usage: 4.0+ MB

In [11]:
df.corr()

               age  duration  campaign     pdays  previous
age       1.000000 -0.001841  0.003302 -0.032011  0.020670
duration -0.001841  1.000000 -0.075663 -0.047127  0.022538
campaign  0.003302 -0.075663  1.000000  0.053795 -0.079051
pdays    -0.032011 -0.047127  0.053795  1.000000 -0.589601
previous  0.020670  0.022538 -0.079051 -0.589601  1.000000

In [12]:
df['poutcome'].value_counts()

nonexistent    28416
failure         3429
success         1105
Name: poutcome, dtype: int64

Criando uma nova variavel para a modelagem com base em poutcome e previous

In [19]:
df['difficulty'] = -1 # desconhecido
df.loc[(df['poutcome'] == 'success') & (df['previous'].between(0,1)), "difficulty"] = 0 # facil
df.loc[(df['poutcome'] == 'success') & (df['previous'].between(2,4)), "difficulty"] = 1 # médio
df.loc[(df['poutcome'] == 'success') & (df['previous'].between(5,7)), "difficulty"] = 2 # dificil
df.loc[(df['poutcome'] == 'nonexistent') & (df['previous'] > 7), "difficulty"] = 3 # muito dificil
df.loc[(df['poutcome'] == 'failure'), "difficulty"] = 4 # impossivel

In [20]:
df['difficulty'].value_counts()

-1    28416
 4     3429
 0      697
 1      391
 2       17
Name: difficulty, dtype: int64

ABT - Analytical Base Table

In [21]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y', 'difficulty'],
      dtype='object')

In [22]:
df.isnull().sum()

age            0
job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
duration       0
campaign       0
pdays          0
previous       0
poutcome       0
y              0
difficulty     0
dtype: int64

In [23]:
df.dtypes

age             int64
job            object
marital        object
education      object
default        object
housing        object
loan           object
contact        object
month          object
day_of_week    object
duration        int64
campaign        int64
pdays           int64
previous        int64
poutcome       object
y              object
difficulty      int64
dtype: object

Separação da Var resposta das variáveis explicativas

In [29]:
explicativas = df.drop(columns = ['y'])

In [31]:
# mostrar ultimos 5

explicativas.tail()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,difficulty
32945,28,services,single,high.school,no,yes,no,cellular,jul,tue,192,1,999,0,nonexistent,-1
32946,52,technician,married,professional.course,no,yes,no,cellular,nov,fri,64,1,999,1,failure,4
32947,54,admin.,married,basic.9y,no,no,yes,cellular,jul,mon,131,4,999,0,nonexistent,-1
32948,29,admin.,married,university.degree,no,no,no,telephone,may,fri,165,1,999,0,nonexistent,-1
32949,35,admin.,married,university.degree,no,no,yes,telephone,jun,tue,544,3,999,0,nonexistent,-1

Tratar a variável resp

In [34]:
var_resp = df['y']
var_resp.value_counts()  # verificando quais as variaveis existentes

no     29238
yes     3712
Name: y, dtype: int64

In [35]:
# fazer .replace onde vai trocar 'no' por 0  |  'yes' por 1

var_resp = var_resp.replace('no',0)
var_resp = var_resp.replace('yes',1)

In [37]:
# conferindo o resultado apos transformação

var_resp.value_counts()

0    29238
1     3712
Name: y, dtype: int64

In [38]:
# verificando as outras variáveis

explicativas.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,difficulty
0,49,blue-collar,married,basic.9y,unknown,no,no,cellular,nov,wed,227,4,999,0,nonexistent,-1
1,37,entrepreneur,married,university.degree,no,no,no,telephone,nov,wed,202,2,999,1,failure,4
2,78,retired,married,basic.4y,no,no,no,cellular,jul,mon,1148,1,999,0,nonexistent,-1
3,36,admin.,married,university.degree,no,yes,no,telephone,may,mon,120,2,999,0,nonexistent,-1
4,59,retired,divorced,university.degree,no,no,no,cellular,jun,tue,368,2,999,0,nonexistent,-1

# Tratamento variáveis  explicativas categóricas

In [ ]:
expl_cat = explicativas[['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome','difficulty']]

In [40]:
# categoricas = object
# difficulty também 

explicativas.dtypes

age             int64
job            object
marital        object
education      object
default        object
housing        object
loan           object
contact        object
month          object
day_of_week    object
duration        int64
campaign        int64
pdays           int64
previous        int64
poutcome       object
difficulty      int64
dtype: object

In [41]:
# separando as variáveis numericas

expl_num = explicativas[['age','duration','campaign','pdays','previous']]